<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.demo.mapper.RpublishMapper">
	<insert id="insertUser"
		parameterType="edu.swjtuhc.demo.model.SysRecipes">
		insert into sysrecipes
		(recipesName,publishDate,rimg,publisher)
		values
		(#{recipesName},#{publishDate},#{rimg},#{publisher})
	</insert>
	
	<select id="selectByRecipesName"
		parameterType="java.lang.String"		
		resultType="edu.swjtuhc.demo.model.SysRecipes">
		select * from sysrecipes
		where
		recipesName=#{recipesName}
	</select>
</mapper>
