<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.demo.mapper.UserMapper">
	<insert id="insertUser"
		parameterType="edu.swjtuhc.demo.model.SysUser">
		insert into sysuser
		(email,password,username,number,registertime)
		values
		(#{email},#{password},#{username},#{number},#{registertime})
	</insert>
	
	<select id="selectUserByUsername"
		parameterType="java.lang.String"		
		resultType="edu.swjtuhc.demo.model.SysUser">
		select * from sysuser
		where
		username=#{username}
	</select>
</mapper>
